# Виртуальные окружения
venv/
env/

# Пытон
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Базы данных
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Идентификаторы
.env
.env.local
